  <style  type="text/css">
     #slider1 {
        position:relative;  /* Containers need relative or absolute position. */
        margin-left:20px;
        width:95%;
        height:120px;
        border-top:1px solid #aaa;
        border-bottom:1px solid #aaa;
    }
  </style>
   <div id="slider1" style = "margin:auto;">
     <div class="thumbelina-but horiz left">&#706;</div>
        <ul>
          <% @meme.each do |meme|%>
            <li><%= image_tag(meme.avatar.url(:medium)) %></li>
          <%end%>
        </ul>
      <div class="thumbelina-but horiz right">&#707;</div>
  </div>