
  <div class = 'row well'>
  	<i class ="glyphicon glyphicon-chevron-left thumbnail" id = "lArrow" style = "float:left; margin-top:35px"></i>
    <div class = "col-md-11 col-sm-11 col-xs-9 scroll-holder" >
  		<div id = "scroller" class = "scroller" >
    		<ul>
    			<% @meme.each do |meme|%>
    				<li><%= image_tag(meme.avatar.url(:medium)) %></li> 
    			<%end%>
    		</ul>
      </div>
  	</div>
  	<i class="glyphicon glyphicon-chevron-right thumbnail" id='rArrow' style = "float:right; margin-top:35px"></i>
  </div>