<div class = "container">
 <h2>Meme Generator </h2>
  <div class = "row well">  
    <div class = "col-md-6">
      <canvas id= "memeCanvas"  class= "canvas__canvas img-responsive" style = "height:450px; width:600px; border:1px solid black; background-color:white;">  Your browser does not support the CANVAS element.
                Try the latest Firefox, Google Chrome, Safari or Opera.</canvas>
    </div>
 
    
    <!-- filler collunm-->
    <div class = "col-md-1"></div> 
    
    <div class = "col-md-3">
      File Name: <br>
      <input type="text" name="tLine" id = 'fileName'>
    <br><br>
      Top Line:<br>
        <input type="text" name="tLine" id = 'tLine'><br><br>
        Button Line:<br>
      <input type="text" name="bLine" id = 'bLine'><br>
      <br>Font Size:
      <select>
        <% n = 12 %>
        <% 14.times do %>
          <option value = "<%= n%>"><%= n%></option>
      <% n = n + 8%>
        <%end%>
      </select><br>
      <form>
        <br>Color:<br>
        <input type="radio" name = "color" id = "colorO" class= "radioColor" checked> Orange<br>
        <input type="radio" name = "color" id = "colorR"  class= "radioColor"  > Red<br>
        <input type="radio" name = "color" id = "colorG"  class= "radioColor" > Green<br>
        <input type="radio" name = "color" id = "colorW"  class= "radioColor" > White<br>
      </form>
      <br>
      <button class = "btn btn-primary btn-lg" id = "downloadMeme">
          <a id="downloadLnk" download="YourFileName.jpg" style = 'color:white;'>Download <br> Meme</a></button> <br>
    </div>

    <div class = "col-md-2">
    <p>Move Top Text Box</p>
    <table class= "table">
      <tr>
        <td><button id = "tMoveUp">UP</button></td><td></td>
        <td><button id = "tMoveDown">DOWN</button></td>
      </tr>
      <tr>
        <td><button id = "tMoveLeft">LEFT</button></td><td></td>
        <td><button id = "tMoveRight">RIGHT</button></td>
      </tr>
      </table>
      <p>Move Bottom Text Box </p>
      <table class= "table">
      <tr>
        <td><button id = "bMoveUp">UP</button></td>
        <td><button id = "bMoveDown">DOWN</button></td>
      </tr>
      <tr>
        <td><button id = "bMoveLeft">LEFT</button></td>
        <td><button id = "bMoveRight">RIGHT</button></td>
      </tr>
      </table>
        
          <button class = "btn-lg btn-info" ><%= link_to 'See All Pictures', memes_all_path, :class => 'railsLink' %></button>
    </div>
  </div>
  <%= render 'picture_header' %>  
</div>
<script type = "text/javascript" src = "/memeGenerator.js"></script>