<!-- support Libraries -->
<link rel="stylesheet" type="text/css" href="/memeScroller/thumbelina.css" />
<script type="text/javascript" src="/memeScroller/thumbelina.js"></script>
<script type = "text/javascript" src = "/memeGenerator.js"></script>

<div class = "container">
 <h2>Meme Generator </h2>
 <h4>TESTING...</h4>
 </div>

<style>
  .table th, .table td { 
     border-top: none !important; 
     width:50%;

 }
</style>

<script>
  $(document).ready(function(){
    $('#slider1').Thumbelina({
      $bwdBut:$('#slider1 .left'),    // Selector to left button.
      $fwdBut:$('#slider1 .right')    // Selector to right button.
      //<%= render 'memeDashboard2' %>
      //<%= render 'picture_header' %>  
    });            
 });
</script>