<style>
#shootBtn{
		display:block;
		margin:auto;
}
.glyphicon.glyphicon-one-fine-full-dot {
    margin-bottom: -.8em;
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-full-dot:before {
    content:"\25cf";
    font-size: 3em;
}
.glyphicon.glyphicon-one-fine-empty-dot {
    margin-bottom: -.8em;
    overflow: hidden;
    margin-top: -25px;
}
.glyphicon.glyphicon-one-fine-empty-dot:before {
    content:"\25cb";
    font-size: 2em;
}
.roundButton{
	height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #000;
}
</style>	
<br>
<div class = "row">
	<div class= "col-xs-1 col-sm-1"></div>
	<div class= "col-xs-6 col-sm-6">
		<table>
			<tr>
				<td></td>
				<td> 
					<button class = "roundButton" id = "upBtn"></button>
					</div>
				</td>
				<td></td>	
			</tr>
				<tr>
					<td>
						<button class = "roundButton" id = "leftBtn"></button>
					</td>
					<td></td>
					<td>
						<button class = "roundButton" id = "rightBtn"></button>
					</td>
				</tr>
				</tr>
					<td></td>
					<td>
						<button class = "roundButton" id = "downBtn"></button>
					</td>
					<td></td>
				</tr> 
			</table>
		</div>
			
		<div class = "col-xs-4 col-sm-4">
				<button id = "shootBtn" class="roundButton" style = "float:right; margin-top:20px;"></button>
		</div>
	</div>
	<div class = "row">
			<button id = "startBtn"  class = "btn btn-default btn-lrg" style = "display:block; margin:auto;">
				<span id = "startText">Start</span>
			</button>	
	</div>