	<br>
	<div class = "row">
		<div class= "col-xs-1 col-sm-1"></div>
		<div class= "col-xs-6 col-sm-6">
			<table>
				<tr>
					<td></td>
					<td>
						<div class = "no-zoom" id = "upBtn">
							<span class = "glyphicon glyphicon-circle-arrow-up"></span>
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<div class = "no-zoom"  id = "leftBtn"> 
							<span class = "glyphicon glyphicon-circle-arrow-left"></span>
						</div>
					</td>
					<td></td>
					<td>
						<div class = "no-zoom" id = "rightBtn">
							<span class = "glyphicon glyphicon-circle-arrow-right"></span>
						</div>
					</td>
				</tr>
				</tr>
					<td></td>
					<td>
						<div class = "no-zoom"  id = "downBtn">
							<span class = "glyphicon glyphicon-circle-arrow-down"></span>
						</div>
					</td>
					<td></td>
				</tr> 
			</table>
		</div>
			
		<div class = "col-xs-4 col-sm-4">
			<button id = "startBtn"  class = "btn btn-default btn-lrg">
				<span id = "startText">Start</span>
			</button>	
		</div>
	</div>
