<style>
h1 {
font-family:sans-serif;
}
#myCanvas{
	border:1px solid black; 
	display:block; 
	margin-left:auto;
	margin-right:auto;
	}
.glyphicon{
	font-size:50px;
}
</style>
<h1>Asteroids</h1>

	<canvas id = "myCanvas" class='img-responsive'></canvas>

<script type = "text/javascript" src = "/Games/asteroids/asteroids.js"></script>

<%if mobile_device?%>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"> 
	<%= render "onscreenController2"%>
	<script src = "/Games/asteroids/asteroidsController.js"></script>
<%end%>

<script type = "text/javascript">
window.addEventListener("keydown", function(e) 
{ // space and arrow keys if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) 
{ e.preventDefault(); } }, false);
</script>

