<style>
.glyphicon {font-size: 50px;}

</style>

<!-- importing game states -->
<script type='text/javascript' src = "/Games/asteroids2/js/phaser.min.js"></script>
<script type='text/javascript' src = "/Games/asteroids2/js/bootState.js"></script>
<script type='text/javascript' src = "/Games/asteroids2/js/preloadState.js"></script>
<script type='text/javascript' src = "/Games/asteroids2/js/menuState.js"></script>
<script type='text/javascript' src = "/Games/asteroids2/js/gameState.js"></script>

<!-- importing prefabs -->
<script type='text/javascript' src = "/Games/asteroids2/js/prefabs/alien.js"></script>
<script type='text/javascript' src = "/Games/asteroids2/js/prefabs/bullet.js"></script>
<script type='text/javascript' src = "/Games/asteroids2/js/prefabs/healthUp.js"></script>
<script type='text/javascript' src = "/Games/asteroids2/js/prefabs/rock.js"></script>

<h2>Asteroids 2</h2>
<div id = "asteroidsGame"></div>

<%if mobile_device? %>
	<%= render("onscreenController2") %>
	<script src = "/Games/asteroids2/asteroidsController.js"></script>
<% end %>
<script>
  var Asteroids = Asteroids || {};
  Asteroids.game = new Phaser.Game(430, 300, Phaser.AUTO, 'asteroidsGame');
  Asteroids.game.state.add('BootState', Asteroids.BootState);
  Asteroids.game.state.add('PreloadState', Asteroids.PreloadState);
  Asteroids.game.state.add('MenuState', Asteroids.MenuState);
  Asteroids.game.state.add('GameState', Asteroids.GameState);
  Asteroids.game.state.start('BootState');
</script>
