<style>
h1 { font-family:sans-serif;}
#myBreakoutCanvas{
	border:1px solid black; 
	display:block; 
	margin-left:auto;
	margin-right:auto;
}

.glyphicon {font-size: 50px;}
</style>

<h1>Break Out</h1>
<canvas id = "myBreakoutCanvas" class='img-responsive'></canvas>
<script type = "text/javascript" src = "/Games/breakout/breakOut.js"></script>

<br>
<% if mobile_device? %>
	<%= render "onscreenController" %>
	<script type="text/javascript" src = "/Games/breakout/breakoutController.js"></script>
<%end %>

<script type = "text/javascript">
window.addEventListener("keydown", function(e) 
{ // space and arrow keys if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) 
{ e.preventDefault(); } }, false);
</script>
