<div class = "container">
	<h1>English Resume</h1>
	<div class = "row">
		<div class = "resumeHolder embed-responsive embed-responsive-16by9" style = "height:300px;">
			<embed class='embed-responsive-item'  src="/Econ_resume_GV.pdf" >
		</div>
		<br>
		<button class = "btn-primary"> <%= link_to "Download", '/Econ_resume_GV.pdf' , {:style => "color:white;"} %></button>
	</div>
</div>