<style>
h1{
	
	font-family:sans-serif;
}
#content{
	font-size:18px;
	font-family:sans-serif;
}
#content img{
	width:500px;
	height:550px;
	float:left;
	margin-right:15px;
}

#mainPic{
	width:150px;
}
</style>
<div class= "container">
	<h1>Welcome to my Personal Website</h1>
	<div id = "content">
		<img src= "mainPic.jpg" class= "img-rounded img-responsive"> 
		<p>My name is Daniel Makover and this is my first attempt at a website. I grew up
		 with almost no formal training in computers and decided to teach myself.</p>
		 
		 <p>The purpose of this website is to showcase my abilities. Everything on this 
		 website I made from scratch. I wrote all of the HTML, CSS, JavaScript, and Ruby. While I didn't 
		 "invent" any of the games posted, I did write all of the source code. I take no 
		 credit for any of the sprites or images I used. For each webpage I will cite the 
		 owners of whatever code/image I did not make from scratch. Again, the purpose of this 
		 website is to show what my abilities are.</p>

		 <p>I have also uploaded my resume in both English and Hebrew for potential employers.</p>
		 
		 <p>Lastly, I have posted a number of sketches I have drawn throughout the years. While 
		 my main goal was to demonstrate my understanding of web development, 
		 I also wanted to show that I have a personality and can do other things aside from writing code.</p>
	</div>
</div>