<style>
h1{
	
	font-family:sans-serif;
}
#content{
	font-size:18px;
	font-family:sans-serif;
}
#content img{
	width:450px;
	height:500px;
	float:left;
	margin-right:15px;
	border:1px solid black;
}

#mainPic{
	width:150px;
}
</style>

<h1>Welcome to my Perosnal Website</h1>
<div id = content>

	<img src= "mainPic.jpg">
	<p>My name is Daniel Makover and this is my first attempt at a website. I grew up
 with almost no formal training in computers and decided to teach myself. Given 
 the fact that I never tooko a class I'd say I did a pretty decent job.</p>
 
 <p>The purpose of this website is to showcase my abbilities. Everything on this 
 website from scratch. I wrote all of the HTML, CSS, and Javascript. While I didn't 
 "invent" any of the games poseted, I did write all of the source code. I take no 
 credit for any of the sprite or images I used. For each webpage I will cite the 
 owners of whatever code/image I did not make from scratch. Again, the purpose of this 
 website is to show what my abbilities are.</p>

 <p>I have also uploaded my Resume in both English and Hebrew for potential employers.</p>
 
 <p>Lastly, I have posted a number of photos of me and sketches I have made. While 
 my main goal was to demonstrate my mastery of front end developement with JQUERY, 
 I also wanted to show that have have a personality and can do other things aside from
  code on the computer. To put it in plain words: I have a life.</p>

</div>