<style>
#myPongCanvas{
	border:1px solid black; 
	display:block; 
	margin-left:auto;
	margin-right:auto;
}

h1 {
font-family:sans-serif;
}

.glyphicon {font-size: 50px;}
</style>


<h1>Pong</h1>
<canvas id = "myPongCanvas" class='img-responsive'></canvas>
<script type = "text/javascript" src = "/Games/pong/pong.js"></script>
<br>


<%if mobile_device?%>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"> 
	<%= render "onscreenController" %>
	<script type="text/javascript" src = "/Games/pong/pongController.js"></script>
<%end%>

<script type = "text/javascript">
window.addEventListener("keydown", function(e) { 
// space and arrow keys if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) 
	{ e.preventDefault(); } 
}, false);

</script>
