<style>
#marioGame{margin-top:25px;} 
#marioGame canvas {display : block;   margin : auto;}
.testClass{border:5px solid red;}
.glyphicon {font-size: 50px;}

</style>

<script  type='text/javascript' src = "/Games/verticalMario/phaser.min.js"></script>
<script  type='text/javascript' src = "/Games/verticalMario/bootState.js"></script>
<script  type='text/javascript' src = "/Games/verticalMario/preloadState.js"></script>
<script  type='text/javascript' src = "/Games/verticalMario/gameState.js"></script>

<h2>Vertical Mario</h2>
<div id = "marioGame"></div>

<%if mobile_device? %>
	<%= render("onscreenController2") %>
	<script src = "/Games/verticalMario/verticalMarioController.js"></script>
<% end %>
<script>
$(document).ready(function(){
	//startings instance of game
	var game = new Phaser.Game(450, 400, Phaser.CANVAS, 'marioGame');

	//loading gamy states
	game.state.add('bootState', Game.bootState);	
	game.state.add('preloadState', Game.preloadState);
	game.state.add('gameState', Game.gameState);

	//starts game
	game.state.start('bootState');

	//game.stage.canvas.id = 'myCanvas';	
	console.log("testing");
 	$('#myCanvas').addClass('img-responsive');

	//turn of scrolling from keyboard
	window.addEventListener("keydown", function(e) { 
	{ e.preventDefault(); } }, false);
	});
</script>