<script src = "angular.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
<script src = "weather.js"></script>

<div class = "container" ng-app = "weatherApp" >
<br>
	<div class = "container">
		<div ng-view></div>

		<small>*This app is powered by AngularJS, GoogleMaps API, and The OpenWeatherMap Api</small>
	</div>

</div>
