<h1>Snake</h1>
<style>
h1 {
font-family:sans-serif;
}

#mySnakeCanvas{
	border:1px solid black; 
	display:block; 
	margin-left:auto;
	margin-right:auto;
	}
</style>
<div class = gameHolder><canvas id = "mySnakeCanvas"></canvas></div>

<script type = "text/javascript" src = "/Games/snake.js"></script>

<script type = "text/javascript">
window.addEventListener("keydown", function(e) 
{ // space and arrow keys if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) 
{ e.preventDefault(); } }, false);
</script>
