<style>
	.picFrame{
		margin-left:100px;
		margin-top:50px;
		vertical-align:center;
		border:1px solid black;
		width:800px;
		height:500px;
	}
	

	
	#nextButton{
		margin-top:-250px;
	}
	
	.picInfo{
		
		border:1px solid black;
	}
</style>


<div id = "picHolder">
	<div id = "backButton"><img src = '/arrowL.jpg'></div>
		<% n = 1%>
		<% @picture.each do |pic|%>
			
			<div id = "picFrame<%=n%>"class = "picFrame"style = "display:none">
				<img src = "<%= pic.url %>">
				<div class = '.picInfo'><%= pic.title%></div>	
			</div>
			<% n = n + 1%>	
		<%end%>
	
	<div id = "nextButton"><img src = '/arrowR.jpg'></div>
</div>

<script type = "text/javascript">
	$(document).ready(function(){
		var n = 1;
		$('#picFrame' + n + '').css('display', 'block');
	
		$('#backButton').click(function(){
			n -= 1;
			n = Math.max(0, n);
			alert(n);
			$('#picFrame' + n + '').css('display', 'block');
			$('#picFrame' + (n + 1) + '').css('display', 'none');
			
		});
		$('#nextButton').click(function(){
			n += 1;
			n = Math.min(10,n);
			alert(n);
			$('#picFrame' + n + '').css('display', 'block');
			$('#picFrame' +(n - 1)+ '').css('display', 'none');
		});
	});
</script>