

<div id = "picsWrapper">
	<div id = "backButton" onclick = "back()"><img src = '/arrowL.jpg'></div>
	<div id = "picHolder"></div>
	<div id = "nextButton" onclick = "next()"><img src = '/arrowR.jpg'></div>
</div>



<script type = "text/javascript">
	var picNumber = 1;
	
	function drawSketch(picNumber){
		var pic = document.getElementById("picHolder");
		pic.innerHTML = '<img src = "/Sketches/pic'+ picNumber + '.jpg">';
	}
	
	function back(){
		picNumber -= 1;
		picNumber = Math.max(1, picNumber);
		drawSketch(picNumber);
	}
	function next(){
		picNumber += 1;
		picNumber = Math.min(21, picNumber);
		drawSketch(picNumber);
	}
	function displayPic(){}
	
	drawSketch(picNumber);
	
</script>