<!-- importing external libraries -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>

<!-- custom on page css -->
<style>
.swiper-container {
    width: 350px;
    height: 400px;
}   
.swipe-pic{
	height:90%; 
	width:70%; 
	display:block; 
	margin:auto;
}   
</style>

<br>
<!-- Slider main container -->
<div class="swiper-container" style = "width:100%">
	<!-- Additional required wrapper -->
   <div class="swiper-wrapper">
   <!-- Slides -->
		<% @picture.each do |pic|%>
	      	<div class="swiper-slide"><img src = "<%= pic.url %>" class = "img-responsive swipe-pic"></div>
	    <% end %>        
	</div>

	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
	    
	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	    
	<!-- If we need scrollbar -->
	<div class="swiper-scrollbar"></div>
</div>


<script>        
  //initiate the swiper
  var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    
    // If we need pagination
    pagination: '.swiper-pagination',
    
    // Navigation arrows
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    
    // And if we need scrollbar
    scrollbar: '.swiper-scrollbar',
  });     
  </script>
</body>
