iframe { border:0 none;}
.dataPanel{background-color:#f5f5f5;}
.flex-container{
      display: flex;
      flex-wrap:wrap;
}
.weather-data-1{
  width:33.33%;
  font-size: 18px;
}
.weather-data-2{
  width:33.33%;
  font-size: 18px;
}

.weather-image{
  width:33.33%;
  font-size: 18px;
}
.weather-image img{
  height:100px;
  width:100%;
}

@media only screen and (max-width: 500px) {
  .weather-data-1{width:50%; font-size: 24px;}
  .weather-data-2{display:none;}
  .weather-image{width:50%; font-size: 24px;}
  .weather-image img{height:100%}
}
