<h1 style = "color:#462A4C;">My BLOG</h1>

<% @post.each do |post| %>
<div class = post>
	<tr>
	<td><h2><%= link_to post.title, post%></h2></td>
	<td><p><small><strong>Category: </strong><%= post.category.name %></small></p></td>
	<td><p><%= post.body%></p></td>
	<p class = "links"><%= link_to "Read More", post %></p>
	<hr>
</div><br>
<%end%>