// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skecth{
	 width:90%;
	 height:90%;
}

#bButton{
	display:block;
	float:left;
	height:100px;
	width:100px;
	margin-top:300px;
}
#nButton{
	display:block;
	float:right;
	margin-top:-300px;
}

#picHolder{
	display:block;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	height:600px;
	width:750px;
}
#picWrapper{
	height:600px;
	width:750px;
}

#picHolder img {
	display:inline-block;
}
#picHolder div {
	display:inline-block;
}
img {
	display:inline-block;
	vertical-align:center;
	width:750px;
	height:600px;
}

#backButton img{
	width:100px;
	height:100px;
}

#nextButton img{
	width:100px;
	height:100px;
}