// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#picsWrapper{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	height:650px;
}

#picsWrapper div{
	
}

#backButton{
	display:block;
	float:left;
	height:100px;
	width:100px;
	margin-top:300px;
}
#nextButton{
	display:block;
	float:right;
	height:100px;
	width:100px;
	margin-top:-325px;
}

#picHolder{
	display:block;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	height:600px;
	width:750px;
}

img {
	width:750px;
	height:600px;
}

#backButton img{
	width:100px;
	height:100px;
}

#nextButton img{
	width:100px;
	height:100px;
}