// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resumeHolder {
	width:675px;
	height:775px;
	embed{
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:675px;
		height:775px;
		}
}

button{
	margin-left:850px;
}

button a {
	text-decoration:none;
}

h1 {
	font-family:sans-serif;

}